.btn {
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--button-color);
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 5rem;
  margin-top: 1rem;
}

.btn:hover {
  background-color: var(--button-bg-hover);
}

.btn:disabled {
  background-color: var(--secondary-text);
  cursor: not-allowed;
}

.menu-sidebar-btn {
  width: 100%;
}
.tweet-add {
  margin: 0;
}
