@import '@styles/breakpoints';

.sign-up-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include respond-to(mobile) {
    padding: 0 1rem;
  }
}
.sign-up-form-container {
  width: 30rem;
}
.sign-up-logo {
  text-align: center;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}
.to-entry-link {
  font-size: 0.8rem;
}
.sign-up-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
