@import '@styles/breakpoints';

.user-info-panel {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  @include respond-to(desktop) {
    gap: 0.2rem;
  }
}
.user-info-img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  overflow: hidden;
}
.user-info-img img {
  object-fit: cover;
  width: 100%;
}
.user-info {
  width: 60%;
}
.user-info-name,
.user-info-slug {
  max-width: 70%;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-name-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-info-slug {
  color: var(--secondary-text);
}
