.user-info-panel {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.user-info-img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  overflow: hidden;
}
.user-info-name,
.user-info-slug {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-info-slug {
  color: var(--secondary-text);
}
