@import '@styles/breakpoints';

.user-app-wrapper {
  padding: 0 5rem;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  @include respond-to(tablet) {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
  }
}
.main-section {
  border-right: 0.01rem solid var(--border-color);
  border-left: 0.01rem solid var(--border-color);
  min-height: 100vh;
  @include respond-to(tablet) {
    border: none;
  }
}
