@import '@styles/variables';

[data-theme='light'] {
  background-color: $light-background;
  color: $light-text;
}

[data-theme='dark'] {
  background-color: $dark-background;
  color: $dark-text;
}
