// Light Theme Variables
$light-background: #ffffff;
$light-text: #000000;
$light-button-bg: #007bff;
$light-button-color: white;

// Dark Theme Variables
$dark-background: #333333;
$dark-text: #ffffff;
$dark-button-bg: #0056b3;
$dark-button-color: white;
