@import '@styles/breakpoints';
.home-header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.01rem solid var(--border-color);
}
.home-header h3 {
  margin: 0;
}
