@import '@styles/breakpoints';
.settings-headline {
  padding: 0.5rem 5rem;
  border-bottom: 0.01rem solid var(--border-color);

  @include respond-to(tablet) {
    padding: 1rem;
  }
}

.change-password {
  padding: 0 5rem;

  @include respond-to(tablet) {
    padding: 1rem;
  }
}
.success-status {
  background-color: #2568293a;
  color: #27b530;
  padding: 1rem;
  border-radius: 0.5rem;
}
.google-auth-mess {
  margin: 0;
  padding: 1rem;
}
