@import '@styles/breakpoints';
.settings-headline {
  padding: 0.5rem 5rem;
  border-bottom: 0.01rem solid var(--border-color);

  @include respond-to(tablet) {
    padding: 1rem;
  }
}

.change-password {
  padding: 0 5rem;

  @include respond-to(tablet) {
    padding: 1rem;
  }
}
