@import '@styles/breakpoints';

.search-sidebar {
  padding: 1rem 0 0 0.5rem;
  @include respond-to(tablet) {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.mobile-header-logo {
  display: none;
  @include respond-to(tablet) {
    display: inline;
  }
}
.search-inp-block {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--border-color);
  border-radius: 5rem;
}
.search-inp-btn {
  outline: none;
  border: none;
  background-color: transparent;
  text-align: center;
  padding: 0;
  height: 1.3rem;
}
.search-inp {
  outline: none;
  border: none;
  background-color: transparent;
}
