@import '@styles/breakpoints';

.search-sidebar {
  padding: 1rem 0 0 0.5rem;
  @include respond-to(tablet) {
    padding: 1rem 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.clear-inp-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.clear-inp-btn img {
  height: 0.7rem;
}
.mobile-header-logo {
  display: none;
  @include respond-to(tablet) {
    display: inline;
  }
}
.search-inp-block {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--border-color);
  border-radius: 5rem;
}
.search-inp-btn,
.clear-inp-btn {
  outline: none;
  border: none;
  background-color: transparent;
  text-align: center;
  padding: 0;
  height: 1.3rem;
}
.search-inp {
  outline: none;
  border: none;
  background-color: transparent;
  width: 80%;
}
.search-headline {
  margin: 0;
}
.user-results {
  max-height: 40vh;
  overflow: auto;
}
.posts-results {
  max-height: 40vh;
  overflow: auto;
}
.search-results {
  padding: 0.5rem;
  background-color: var(--background-opasity);
  margin-top: 0.5rem;
  border-radius: 10px;
  max-height: 80vh;
  overflow: auto;
  @include respond-to(tablet) {
    display: none;
    position: absolute;
    top: 3rem;
    width: 83%;
    background-color: var(--background);
    border: 0.01rem solid var(--border-color);
  }
  @include respond-to(mobile) {
    width: 90%;
  }
}
.posts-results::-webkit-scrollbar,
.user-results::-webkit-scrollbar {
  width: 0.2rem;
}

.posts-results::-webkit-scrollbar-track,
.user-results::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.posts-results::-webkit-scrollbar-thumb,
.user-results::-webkit-scrollbar-thumb {
  background: #959595;
  border-radius: 10px;
}

.posts-results::-webkit-scrollbar-thumb:hover,
.user-results::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.search-results.visible {
  @include respond-to(tablet) {
    display: block;
  }
}
.search-results a {
  color: var(--text);
}
.search-results .user-info-panel {
  margin: 0;
  gap: 0.5rem;
}
.search-post-results p {
  margin: 0.5rem 0;
}
.search-post-results {
  background-color: var(--background-opasity);
  padding: 0.2rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}
.search-user-results {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
  @include respond-to(pre-tablet) {
    background-color: aqua;
    padding: 0.3rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    width: 95%;
    border-radius: 0.5rem;
    background-color: var(--background-opasity);
  }
}
.search-user-results .user-info-panel {
  width: 100%;
}
.search-item-headline {
  margin: 1rem 0 0.5rem;
  border-bottom: 0.01rem solid var(--border-color);
}
