@import '@styles/breakpoints';

.sign-in-section {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.sign-in-form-container {
  margin-top: 3rem;
  width: 30rem;
  @include respond-to(mobile) {
    padding: 0 1rem;
  }
}
.sign-in-logo {
  text-align: center;
  margin-bottom: 1rem;
}
.sign-up-form {
  display: flex;
  flex-direction: column;
}
.links-to-sign {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  @include respond-to(mobile) {
    align-items: flex-start;
    flex-direction: column;
  }
}
.links-to-sign a {
  color: var(--link-text);
}
.sign-in-types {
  display: flex;
  gap: 1rem;
}
.toggle-sign-in {
  border: 1px solid var(--border-color);
  color: var(--text);
  background-color: transparent;
  padding: 0.7rem;
  border-radius: 3rem;
  cursor: pointer;
}
