@import '@styles/breakpoints';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--modal-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: var(--background);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
  position: relative;
  width: 50%;
  @include respond-to(mobile) {
    width: 75%;
  }
}

.modal-close {
  text-align: end;
}
.modal-close-btn {
  background: transparent;
  color: var(--text);
  border: none;
  cursor: pointer;
}
