@import '@styles/themes';
@import '@styles/breakpoints';

.entry-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: 0.7rem;
  @include respond-to(mobile) {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }
}
.nav-link {
  color: var(--text);
}
.nav-link:hover {
  color: var(--link-text);
}

.nav-link {
  margin: 0 0.3rem;
  font-size: 0.8rem;
}
.entry-footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  @include respond-to(mobile) {
    margin: 0.5rem 0;
  }
}
.toggle-block {
  @include respond-to(mobile) {
    width: 100%;
  }
}
