@import '@styles/breakpoints';

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
.nav-list-item-link {
  color: var(--text);
  &:hover {
    color: var(--link-text);
  }

  &.active {
    color: var(--link-text);
  }
}

.header-menu-sidebar {
  margin: 1rem 0 1.5rem;
}

.nav-list-item img {
  height: 2rem;
}

.menu-sidebar {
  padding-right: 1rem;
  @include respond-to(tablet) {
    padding: 0.5rem;
    border-top: 0.01rem solid var(--border-color);
    position: sticky;
    bottom: 0;
    background-color: var(--background);
    z-index: 100;
  }
}
.log-out-button {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  height: 2.5rem;
}
