.post-add-img {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.post-add-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-input {
  width: 95%;
  border: none;
  resize: none;
  padding: 10px;
  outline: none;
  font-size: 1rem;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-text);
}
.error-messages {
  color: var(--error-text);
  font-size: 0.7rem;
  margin: 0;
}
#img-input {
  display: none;
}
