.add-post-panel {
  display: flex;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--border-color);
}
.add-post-avatar {
  height: 3rem;
}
.add-posts-block {
  width: 100%;
}
.post-add-img {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.post-add-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-input {
  width: 95%;
  //   max-height: 7rem;
  border: none;
  resize: none;
  padding: 10px;
  outline: none;
  font-size: 1rem;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-text);
}
