.add-post-panel {
  display: flex;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--border-color);
}
.add-post-avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  overflow: hidden;
}
.post-input {
  width: 95%;
  background: transparent;
  border: none;
  color: var(--text);
  resize: none;
  padding: 10px;
  outline: none;
  font-size: 1rem;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-text);
}
.add-posts-block {
  width: 90%;
}
