.add-post-panel {
  display: flex;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--border-color);
}
.add-post-avatar {
  height: 3rem;
}
.add-posts-block {
  width: 100%;
}

.selected-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.selected-image-item {
  height: 4.2rem;
  display: flex;
  align-items: flex-start;
  position: relative;
}
.delete-img-button {
  position: absolute;
  right: 0.8rem;
  top: 0.1rem;
  cursor: pointer;
  height: 1.6rem;
  width: 1.6rem;
  background: #ffffff;
  outline: none;
  border: none;
  border-radius: 50%;
  padding: 0;
}
